@import '@mantine/core/styles.css';

:root {
  /* Dark Mode Colors */
  --bg-primary: #000000;
  --bg-secondary: #1f1f1f;
  --bg-tertiary: #333333;
  
  --text-primary: #fcfcfc;
  --text-secondary: #858585;
  --text-muted: #6f6f6f;
  
  --border: #333333;
  --border-hover: #404040;
  
  --success: #30e08b;
  --info: #5ba3f5;
  --warning: #f5c95b;
  --error: #ffa0a3;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
